# .NET
bin/
obj/
*.user
*.suo
.vs/
*.db
*.db-shm
*.db-wal
logs/
*.log

# Angular
node_modules/
dist/
.angular/
*.js.map

# Environment
appsettings.Development.json
.env
.github/*
.claude/*
backend/.github/copilot-instructions.md
frontend/ecommerce-app/.claude/settings.local.json
